/*
---------FONTS---------
font-family: 'Cinzel Decorative', cursive;
font-family: 'Open Sans', sans-serif;
*/

body {
  background-color: black;
  background: url(../images/pine.jpeg) no-repeat center center fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  margin: 0;
  padding: 0;
}

header {
  background-color: #003300cc;
  margin: 0px;
  width: 50 vw;
}

h1 {
  color: white;
  font-family: 'Cinzel Decorative', cursive;
  font-size: 10vw;
  margin: 0px;
  text-align: center;
  text-shadow: 3px 3px #000000;
}

h2 {
  color: white;
  font-family: 'Cinzel Decorative', cursive;
  font-size: : 5vw;
  margin: 0;
  text-shadow: 2px 2px #000000;
}

hr {
  color: white;
}

ul li {
  color: white;
}

a {
  text-decoration: none;
  text-decoration-color: white;
}
