/*
---------FONTS---------
font-family: 'Cinzel Decorative', cursive;
font-family: 'Open Sans', sans-serif;
*/

body {
  background-color: black;
  background: url(../images/pine.jpeg) no-repeat center center fixed;
  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  margin: 0;
  padding: 0;
}

header {
  background-color: #00000099;
  margin: 0px;
}

h1 {
  font-family: 'Cinzel Decorative', cursive;
  margin: 0px;
}
