/*
---------FONTS---------
font-family: 'Cinzel Decorative', cursive;
font-family: 'Open Sans', sans-serif;
*/

body {
  background-color: black;
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(../images/pine.jpeg) no-repeat center center fixed;
  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  margin: 0;
  padding: 0;
}

header {
  background-color: #00330099;
  margin: 0px;
  width: 100 vw;
}

h1 {
  color: white;
  font-family: 'Cinzel Decorative', cursive;
  font-size: 10vw;
  margin: 0px;
  text-align: center;
}

h2 {
  color: white;
  font-family: 'Cinzel Decorative', cursive;
  font-size: : 5vw;
  margin: 0;
}
